@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --fuente--montserrat: "Montserrat", sans-serif;
  --fuente--krona: "Krona One", sans-serif;
  --fuente--rubik: "Rubik", sans-serif;
  --fuente--poppins: "Poppins", sans-serif;
  --color--primario: #9aa0a7;
}

body {
  margin: 0;
  padding: 20px;
  background-color: white;
}

.icon {
  width: 20px;
}

.catalogo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.catalogo__titulo,
.catalogo__subtitulo {
  font-family: var(--fuente--poppins);
  text-align: left;
  margin-bottom: 20px;
}

.catalogo__subtitulo {
  color: var(--color--primario);
  font-family: var(--fuente--rubik);
}

.catalogo__libros__info__titulo {
  font-family: var(--fuente--poppins);
  font-size: 29px;
  font-weight: bold;
  margin-top: 10px;
}

.catalogo__libros__info__detalles {
  font-family: var(--fuente--rubik);
  font-size: 15px;
  margin-top: 8px;
  color: gray;
}

.catalogo__caja__grande1 {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.catalogo__libros__item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.divider {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.catalogo__libros__imagen {
  width: 170px;
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.catalogo__libros__imagen:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.catalogo__caja__grande2 {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 19px;
}

.catalogo__libros__1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}
